<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.r.system.cs.dao.business.OrganizationDao">

	<sql id="org_table_column">
		id,
		fa_org_id,
		code,
		name,
		location,
		phone,
		principal,
		project_id,
		is_disabled
	</sql>
	<sql id="query_list_condition">
		<where>
			<if test="orgId != null">
				fa_org_id = #{orgId}
			</if>
			<if test="isDisabled != null">
				and is_disabled = #{isDisabled}
			</if>
			<if test="projectId != null">
				and project_id = #{projectId}
				<if test="orgId == null">
					and fa_org_id is null
				</if>
			</if>
		</where>
	</sql>

	<resultMap
		type="org.r.system.cs.entity.business.OrganizationEntity"
		id="org_entity">
		<result column="id" property="id" />
		<result column="fa_org_id" property="faId" />
		<result column="code" property="code" />
		<result column="name" property="name" />
		<result column="location" property="address" />
		<result column="phone" property="phone" />
		<result column="principal" property="principal" />
		<result column="project_id" property="projectId" />
		<result column="is_disabled" property="isDisabled" />
	</resultMap>

	<insert id="insertFile" useGeneratedKeys="true" keyColumn="id"
		keyProperty="id">
		insert into cs_organization
		<trim prefix="(" suffix=")" suffixOverrides=",">
			name,
			project_id,
			<if test="code != null">
				code,
			</if>
			<if test="faId != null">
				fa_org_id,
			</if>
			<if test="address != null">
				location,
			</if>
			<if test="phone != null">
				phone,
			</if>
			<if test="principal != null">
				principal
			</if>
		</trim>
		value
		<trim prefix="(" suffix=")" suffixOverrides=",">
			#{name},
			#{projectId},
			<if test="code != null">
				#{code},
			</if>
			<if test="faId != null">
				#{faId},
			</if>
			<if test="address != null">
				#{address},
			</if>
			<if test="phone != null">
				#{phone},
			</if>
			<if test="principal != null">
				#{principal}
			</if>
		</trim>
	</insert>

	<select id="selectFile" resultMap="org_entity">
		select
		<include refid="org_table_column" />
		from cs_organization
		where id = #{primaryKey}
	</select>

	<update id="updateFile">
		update cs_organization
		<set>
			<if test="code != null">
				code = #{code},
			</if>
			<if test="name != null">
				name = #{name},
			</if>
			<if test="address != null">
				location = #{address},
			</if>
			<if test="principal != null">
				principal = #{principal},
			</if>
			<if test="phone != null">
				phone = #{phone},
			</if>
			<if test="isDisabled != null">
				is_disabled = #{isDisabled}
			</if>
		</set>
		where id = #{id}
	</update>


	<select id="selectFileList" resultMap="org_entity">
		select
		<include refid="org_table_column" />
		from cs_organization
		<include refid="query_list_condition" />
		<if test="pageSize != null">
			limit #{curPage},#{pageSize}
		</if>
	</select>
	<select id="countFileList" resultType="int">
		select
		count(*)
		from cs_organization
		<include refid="query_list_condition" />
	</select>

</mapper>